$green: #e4ede0;
$green-alt: darken($green, 15%);

$blue: #dfe7ed;
$blue-alt: darken($blue, 15%);

$red: #eddfdf;
$red-alt: darken($red, 15%);

$gold: rgb(255, 235, 122);
$gold-alt: darken($gold, 15%);

$silver: rgb(224, 224, 224);
$silver-alt: darken($silver, 15%);

$bronze: rgb(240, 196, 151);
$bronze-alt: darken($bronze, 15%);